{% extends 'base.html.twig' %}

{% block body %}
    <h4 align="center">Views list of shortend URL : {{ link }}</h4>

    <table align="center" cellpadding="5px" cellspacing="5px">
        <thead>
            <tr>           
                <th>Ip address</th>
                <th>   </th>
                <th>Viewed at</th>  
            </tr>
        </thead>
        <tbody>
        {% for view in views %}
            <tr>
                <td>{{ view.ip_address }}</td>
                <td>{% if view.created_at %}{{ view.created_at|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
